
<h2>How to Play</h2>

<div class="card">
  <img src="img/how_to_play_123.jpg" style="width:100%;" />
  <ol class="listListStyle">
    <li>Choose a quiz</li>
    <li>Identify the correct answer</li>
    <li>Get 5 out of 5 in at least 3 quizzes to post a total time</li>
  </ol>
</div>

<h2 style="margin-top: 6%;">Prizes</h2>

<div class="card">
  <p>Each month there will be three new prizes for the top three players.</p>
  <img src="img/how_to_play_prizes_no_text.jpg" alt="how_to_play_prizes_no_text" width="100%" class="alignnone size-full wp-image-1276" />
</div>

<h2 style="margin-top: 6%;">Rules</h2>

<div class="card">
  <ul class="listListStyle">
    <li>The aim of the game is to finish the quizzes in the fastest time possible.</li>
    <li>There is a time limit in which to complete the quiz, keep an eye out for the time limit at the top of the screen</li>
    <li>Once you have completed at least 3 quizzes your total time will be calculated.</li>
    <li>Your total time will always be updated with your three lowest times.</li>
    <li>At the end of the month the 3 players with the lowest total times will be named the winners of the current month's quiz.</li>
    <li>There will be a top prize for the winner and two other prizes for second and third place.</li>
  </ul>
  <img src="img/how_to_play_woman_cheering.jpg" class="howtoPlayCheering" width="100%" />
</div>